{
    "app_name": "bacalhau",
    "app_tag": "dev",
    "bacalhau_installation_id": "example-cluster",
    "username": "bacalhau-runner",
    "public_key": "/Users/YOUR_USERNAME/.ssh/id_rsa.pub",
    "private_key": "/Users/YOUR_USERNAME/.ssh/id_rsa",
    "bacalhau_data_dir": "/opt/bacalhau/data",
    "bacalhau_node_dir": "/opt/bacalhau/node",
    "aws_instance_type": "t2.medium",
    "locations": {
        "us-west-2": {
            "region": "us-west-2",
            "zone": "us-west-2a",
            "instance_ami": "ami-0c0ba4e76e4392ce9",
            "node_count": 3
        },
        "ap-northeast-1": {
            "region": "ap-northeast-1",
            "zone": "ap-northeast-1a",
            "instance_ami": "ami-07a48f4a2abe3a5fc",
            "node_count": 1
        },
        "ap-northeast-2": {
            "region": "ap-northeast-2",
            "zone": "ap-northeast-2a",
            "instance_ami": "ami-07ba757d6e39916a6",
            "node_count": 1
        },
        "ap-northeast-3": {
            "region": "ap-northeast-3",
            "zone": "ap-northeast-3a",
            "instance_ami": "ami-0a6e8673186f56f71",
            "node_count": 1
        },
        "ap-south-2": {
            "region": "ap-south-2",
            "zone": "ap-south-2a",
            "instance_ami": "ami-0307d637b6768e628",
            "node_count": 1
        },
        "ap-southeast-1": {
            "region": "ap-southeast-1",
            "zone": "ap-southeast-1a",
            "instance_ami": "ami-0fea1654c99ae8095",
            "node_count": 1
        },
        "ap-southeast-2": {
            "region": "ap-southeast-2",
            "zone": "ap-southeast-2a",
            "instance_ami": "ami-0b9f60073f86f7e3e",
            "node_count": 1
        },
        "ap-southeast-3": {
            "region": "ap-southeast-3",
            "zone": "ap-southeast-3a",
            "instance_ami": "ami-01fc4243fbd7000b6",
            "node_count": 1
        },
        "ap-southeast-4": {
            "region": "ap-southeast-4",
            "zone": "ap-southeast-4a",
            "instance_ami": "ami-02f0edfd3089570db",
            "node_count": 1
        },
        "ca-central-1": {
            "region": "ca-central-1",
            "zone": "ca-central-1a",
            "instance_ami": "ami-04fe2563a02dced49",
            "node_count": 1
        },
        "eu-central-1": {
            "region": "eu-central-1",
            "zone": "eu-central-1a",
            "instance_ami": "ami-0e95598983c54c506",
            "node_count": 1
        },
        "eu-central-2": {
            "region": "eu-central-2",
            "zone": "eu-central-2a",
            "instance_ami": "ami-07745c2cf6984e65a",
            "node_count": 1
        },
        "eu-north-1": {
            "region": "eu-north-1",
            "zone": "eu-north-1a",
            "instance_ami": "ami-00b2e78eedce5d673",
            "node_count": 1
        },
        "eu-south-1": {
            "region": "eu-south-1",
            "zone": "eu-south-1a",
            "instance_ami": "ami-06f853177a77ca6c2",
            "node_count": 1
        },
        "eu-south-2": {
            "region": "eu-south-2",
            "zone": "eu-south-2a",
            "instance_ami": "ami-082548ada78f8acf1",
            "node_count": 1
        },
        "eu-west-1": {
            "region": "eu-west-1",
            "zone": "eu-west-1a",
            "instance_ami": "ami-0d86ecafd19013f31",
            "node_count": 1
        },
        "eu-west-2": {
            "region": "eu-west-2",
            "zone": "eu-west-2a",
            "instance_ami": "ami-05eb46f888200e84d",
            "node_count": 1
        },
        "eu-west-3": {
            "region": "eu-west-3",
            "zone": "eu-west-3a",
            "instance_ami": "ami-0c56f1e31c3969b8a",
            "node_count": 1
        },
        "il-central-1": {
            "region": "il-central-1",
            "zone": "il-central-1a",
            "instance_ami": "ami-0e410ff712afd6248",
            "node_count": 1
        },
        "me-central-1": {
            "region": "me-central-1",
            "zone": "me-central-1a",
            "instance_ami": "ami-0f3d65a62cc909161",
            "node_count": 1
        },
        "me-south-1": {
            "region": "me-south-1",
            "zone": "me-south-1a",
            "instance_ami": "ami-05f356a617d166a13",
            "node_count": 1
        },
        "sa-east-1": {
            "region": "sa-east-1",
            "zone": "sa-east-1a",
            "instance_ami": "ami-08e524a94e4d037f6",
            "node_count": 1
        },
        "us-east-1": {
            "region": "us-east-1",
            "zone": "us-east-1a",
            "instance_ami": "ami-027a754129abb5386",
            "node_count": 2
        },
        "us-east-2": {
            "region": "us-east-2",
            "zone": "us-east-2a",
            "instance_ami": "ami-0378e67bdcf523e71",
            "node_count": 1
        },
        "us-west-1": {
            "region": "us-west-1",
            "zone": "us-west-1a",
            "instance_ami": "ami-0b6e2645689e53284",
            "node_count": 1
        },
        "cn-north-1": {
            "region": "cn-north-1",
            "zone": "cn-north-1a",
            "instance_ami": "ami-02889c212949fcbac",
            "node_count": 1
        },
        "cn-northwest-1": {
            "region": "cn-northwest-1",
            "zone": "cn-northwest-1a",
            "instance_ami": "ami-06f94fc3785b71aa6",
            "node_count": 1
        }
    }
}