{
    "app_name": "bacalhau",
    "app_tag": "dev",
    "bacalhau_installation_id": "example-cluster",
    "username": "bacalhau-runner",
    "public_key": "/Users/YOUR_USERNAME/.ssh/id_rsa.pub",
    "private_key": "/Users/YOUR_USERNAME/.ssh/id_rsa",
    "bacalhau_data_dir": "/opt/bacalhau/data",
    "bacalhau_node_dir": "/opt/bacalhau/node",
    "aws_instance_type": "t2.medium",
    "shared_credentials_file_path": "/Users/YOUR_USERNAME/.aws/credentials",
    "public_key_path": "/Users/YOUR_USERNAME/.ssh/id_rsa.pub",
    "private_key_path": "/Users/YOUR_USERNAME/.ssh/id_rsa"
}