apscheduler==3.10.1 ; python_version >= "3.10" and python_version < "4.0"
faker==18.10.1 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "4.0"
pytz==2023.3 ; python_version >= "3.10" and python_version < "4.0"
setuptools==67.8.0 ; python_version >= "3.10" and python_version < "4.0"
simplejson==3.19.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2023.3 ; python_version >= "3.10" and python_version < "4.0" and platform_system == "Windows"
tzlocal==5.0.1 ; python_version >= "3.10" and python_version < "4.0"
