.DS_Store
rendered
**/.ipynb_checkpoints/
**/volumes/
**/shards/
**/stdout
**/stderr
bacalhau

.vscode/
**/Dockerfile
**/.py
**/requirements.txt
.vscode
js-helloworld/outputs/*
.idea/
.env

.venv
temp
job_id.txt
docs.bacalhau.org/