.DS_Store
rendered
**/.ipynb_checkpoints/
**/volumes/
**/shards/
**/stdout
**/stderr
bacalhau
**/results/


.vscode/
**/.py
.vscode
js-helloworld/outputs/*
.idea/
.env

.vscode

ansible.cfg
*.pem
.env.json

.terraform/
terraform.tfstate.d/
.terraform.lock.hcl
*.pem
tf/.terraform/*
*.tfstate*
tf/.terraform/environment
bacalhau.run
tf.out

job-[0-9a-z]*
!job-one-zone.yaml
!case-studies/**/Dockerfile
!model-inference/**/Dockerfile
todo/eurec4a/how_to_eurec4a
