.DS_Store
rendered

**/.ipynb_checkpoints/
**/volumes/
**/shards/
**/stdout
**/stderr
bacalhau
.vscode/

# These files should sit within the related notebook in a cell with %%writefile
**/Dockerfile
**/.py
**/requirements.txt

