{
  "project_id": "bacalhau-development",
  "locations": {
    "europe-west4-a": {
        "zone": "europe-west4-a",
        "machine_type": "n1-standard-8",
        "storage_location": "EU",
        "iam_access": "true",
        "create_bucket": "true"
      }
  },
  "tailscale_key":  "tskey-auth-kFGiAS7CNTRL-2dpMswsLF8UdDydPRMiWDUEXAMPLE",
  "machine_type": "n1-standard-8",
  "app_name": "multi-cloud-image-search",
  "bacalhau_run_file": "../aws/bacalhau.run",
  "username": "ubuntu",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa",
  "app_tag": "multi-cloud-image-search",
  "accelerator": "nvidia-tesla-t4"
}