{
  "project_id": "example-project-id",
  "locations": {
    "europe-west4-a": {
      "zone": "europe-west4-a",
      "machine_type": "g2-standard-4",
      "storage_location": "EU",
      "iam_access": "true",
      "create_bucket": "true"
    }
  },
  "tailscale_key": "tskey-auth-kFGiAS7CNTRL-2dpMswsLF8UdDydPRMiWDUEXAMPLE",
  "app_name": "multi-cloud-example",
  "bacalhau_run_file": "../aws/bacalhau.run",
  "username": "ubuntu",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa",
  "app_tag": "multi-cloud-bacalhau-example"
}
