{
    "base_project_name": "bacalhau-cluster",
    "org_id": "your-org-id",
    "gcp_billing_account_id": "your-billing-account-id",
    "gcp_user_email": "your-email@example.com",
    "app_tag": "bacalhau-compute-prod",
    "locations": {
        "us-central1-a": {
            "machine_type": "e2-medium",
            "zone": "us-central1-a"
        }
    },
    "username": "ubuntu",
    "public_key": "~/.ssh/id_rsa.pub",
    "bacalhau_data_dir": "/bacalhau_data",
    "bacalhau_node_dir": "/bacalhau_node"
} 