[Unit]
Description=Bacalhau Startup Script
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bacalhau_node/startup.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target