{
  "access_key": "AKIAUEMPQ7JFEXAMPLE",
  "secret_key": "a3YhVb06muc4+YSnlzqLzJJ2sOrxl/EXAMPLE",
  "bootstrap_region": "us-east-1", 
  "locations": {
     "us-east-1": {
      "region": "us-east-1",
      "availability_zone": "us-east-1a",
      "instance_ami": "ami-09ad94ebabb1d9472"
    },
    "us-west-2": {
      "region": "us-west-2",
      "availability_zone": "us-west-2a",
      "instance_ami": "ami-09901fdae1bac6fe0"
    }
  },
  "app_tag": "multiregion-bacalhau-example",
  "instance_type": "t4g.large",
  "bacalhau_run_file": "bacalhau.run",
  "tailscale_key": "tskey-auth-kBEwtV4CNTRL-F6UvB8r9qg7xU5LHWEXAMPLE",
  "shelluser": "bacalhau-installer",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa"
}