#cloud-config
packages:
  - git
  - make
  - curl
  - gunicorn

write_files:
  - encoding: b64
    content: |
      ${ start_bacalhau }
    owner: root:root
    path: /node/start-bacalhau.sh
    permissions: "0700"
  - encoding: b64
    content: |
      ${ bacalhau_service }
    owner: root:root
    path: /etc/systemd/system/bacalhau.service
    permissions: "0600"
  - content: |
      export PROJECT_ID=${ project_id }
      export REGION=${ region }
      export ZONE=${ zone }
      export APPNAME=${ app_name }
      export SITEURL=${ siteurl }
      export TOKEN=${ token }
    owner: root:root
    permissions: "0444"
    path: /etc/bacalhau-node-info
  - encoding: b64
    content: |
      ${ install_gunicorn_services }
    owner: root:root
    path: /node/install-gunicorn-service.sh
    permissions: "0700"
  - encoding: b64
    content: |
      ${ setup_venv }
    path: /tmp/rsync/${ username }/setup-venv.sh
    permissions: "0700"
  - content: |
      APPUSER=${ username }
      APPDIR=${ appdir }
      PYENVNAME=${ app_name }venv
      SITEURL=${ siteurl }
      TOKEN=${ token }
      ZONE=${ zone }
      REGION=${ region }
    permissions: "0444"
    path: /tmp/rsync/${ username }/.env
  - encoding: b64
    content: |
      ${ bacalhau_bootstrap }
    owner: root:root
    path: /etc/bacalhau-bootstrap
    permissions: "0400"

package_update: true

runcmd:
  - echo "Copying the SSH Key to the server"
  - |
    echo -n "${ ssh_key }" | awk 1 ORS=' ' >> /root/.ssh/authorized_keys
  - sudo useradd --create-home -r ${ username } -s /usr/bin/bash || echo 'User already exists.'
  #
  # Make node directory for all scripts
  #
  - mkdir -p /node
  - chmod 0700 /node
  - mkdir -p /data
  - chmod 0700 /data
  #
  # Install docker
  #
  - apt-get update
  - apt-get install ca-certificates curl
  - install -m 0755 -d /etc/apt/keyrings
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  - chmod a+r /etc/apt/keyrings/docker.asc
  - apt-get install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
  #
  # Install Bacalhau
  #
  - |
    curl -sL https://get.bacalhau.org/install.sh | BACALHAU_DIR=/$GENHOME/data bash
  - echo "Bacalhau downloaded."
  #
  # Sync from /tmp
  #
  - rsync --no-relative /tmp/rsync/${ username }/setup-venv.sh /home/${ username }
  - rsync --no-relative /tmp/rsync/${ username }/.env /home/${ username }
  - rm -rf /tmp/rsync
  #
  # Install the gunicorn service
  #
  - git clone https://github.com/bacalhau-project/examples.git /tmp/web-control-plane
  - (cd /tmp/web-control-plane && git checkout web-control-plane)
  - rsync -av --no-relative /tmp/web-control-plane/${ relativecodeinrepodir }/* ${ appdir }
  - chown -R ${ username }:${ username } ${ appdir }
  - env $(cat /home/${ username }/.env | xargs) /node/install-gunicorn-service.sh
  -
  # Reload the systemd daemon, enable, and start the service
  - sudo sysctl -w net.core.rmem_max=2500000
  - sudo systemctl daemon-reload
  - sudo systemctl enable docker
  - sudo systemctl restart docker
  - sudo systemctl enable bacalhau.service
  - sudo systemctl restart bacalhau.service
  - sleep 20 # Give the log generator a chance to start - and then force generate four entries
