{
  "project_id": "example-project-id",
  "bootstrap_zone": "europe-west9-b",
  "locations": {
    "europe-west9-b": {
      "zone": "europe-west9-b",
      "machine_type": "e2-standard-2",
      "storage_location": "EU",
      "iam_access": "true",
      "create_bucket": "true"
    },
    "us-east1-b": {
      "zone": "us-east1-b",
      "machine_type": "n1-standard-2",
      "storage_location": "US",
      "iam_access": "true",
      "create_bucket": "true"
    },
    "europe-west4-a": {
      "zone": "europe-west4-a",
      "machine_type": "n1-standard-2",
      "storage_location": "EU",
      "iam_access": "true",
      "create_bucket": "true"
    },
    "us-central1-a": {
      "zone": "us-central1-a",
      "machine_type": "n1-standard-2",
      "storage_location": "US",
      "iam_access": "true",
      "create_bucket": "true"
    }
  },
  "tailscale_key": "tskey-auth-kFGiAS7CNTRL-2dpMswsLF8UdDydPRMiWDUEXAMPLE",
  "app_name": "duckdb-example",
  "bacalhau_run_file": "bacalhau.run",
  "username": "username",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa",
  "app_tag": "example-app-tag"
}