aiohttp==3.9.3
aiosignal==1.3.1
attrs==23.2.0
bidict==0.23.1
blinker==1.7.0
build==1.2.1
cachecontrol==0.14.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
distlib==0.3.8
dulwich==0.21.7
faker==24.11.0
fastjsonschema==2.19.1
filelock==3.13.4
flask==3.0.2
flask-socketio==5.3.6
frozenlist==1.4.1
gevent==24.2.1
greenlet==3.0.3
grequests==0.7.0
gunicorn==21.2.0
h11==0.14.0
idna==3.6
iniconfig==2.0.0
installer==0.7.0
itsdangerous==2.1.2
jaraco-classes==3.4.0
jinja2==3.1.3
keyring==24.3.1
markupsafe==2.1.5
more-itertools==10.2.0
msgpack==1.0.8
multidict==6.0.5
packaging==24.0
pexpect==4.9.0
pip==24.0
pkginfo==1.10.0
platformdirs==4.2.0
pluggy==1.4.0
poetry==1.8.2
poetry-core==1.9.0
poetry-plugin-export==1.7.1
ptyprocess==0.7.0
pycparser==2.22
pyproject-hooks==1.0.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.0
python-socketio==5.11.2
rapidfuzz==3.8.1
requests==2.31.0
requests-toolbelt==1.0.0
ruff==0.3.4
setuptools==69.2.0
shellingham==1.5.4
simple-websocket==1.0.0
six==1.16.0
tomlkit==0.12.4
trove-classifiers==2024.4.10
urllib3==2.2.1
uv==0.1.24
virtualenv==20.25.3
werkzeug==3.0.1
wsproto==1.2.0
xattr==1.1.0
yarl==1.9.4
zope-event==5.0
zope-interface==6.2
