{
  "bootstrap_region": "northcentralus",
  "locations": {
  "eastasia": {
      "region": "eastasia"
    },
    "southeastasia": {
      "region": "southeastasia"
    },
    "australiaeast": {
      "region": "australiaeast"
    },
    "australiasoutheast": {
      "region": "australiasoutheast"
    },
    "brazilsouth": {
      "region": "brazilsouth"
    },
    "canadacentral": {
      "region": "canadacentral"
    },
    "canadaeast": {
      "region": "canadaeast"
    },
    "switzerlandnorth": {
      "region": "switzerlandnorth"
    },
    "germanywestcentral": {
      "region": "germanywestcentral"
    },
    "eastus2": {
      "region": "eastus2"
    },
    "eastus": {
      "region": "eastus"
    },
    "centralus": {
      "region": "centralus"
    },
    "northcentralus": {
      "region": "northcentralus"
    },
    "francecentral": {
      "region": "francecentral"
    },
    "uksouth": {
      "region": "uksouth"
    },
    "ukwest": {
      "region": "ukwest"
    },
    "centralindia": {
      "region": "centralindia"
    },
    "southindia": {
      "region": "southindia"
    },
    "jioindiawest": {
      "region": "jioindiawest"
    },
    "japaneast": {
      "region": "japaneast"
    },
    "japanwest": {
      "region": "japanwest"
    },
    "koreacentral": {
      "region": "koreacentral"
    },
    "northeurope": {
      "region": "northeurope"
    },
    "norwayeast": {
      "region": "norwayeast"
    },
    "swedencentral": {
      "region": "swedencentral"
    },
    "uaenorth": {
      "region": "uaenorth"
    },
    "westcentralus": {
      "region": "westcentralus"
    },
    "westeurope": {
      "region": "westeurope"
    },
    "westus2": {
      "region": "westus2"
    },
    "westus": {
      "region": "westus"
    },
    "southcentralus": {
      "region": "southcentralus"
    },
    "westus3": {
      "region": "westus3"
    },
    "southafricanorth": {
      "region": "southafricanorth"
    },
    "australiacentral": {
      "region": "australiacentral"
    },
    "australiacentral2": {
      "region": "australiacentral2"
    },
    "westindia": {
      "region": "westindia"
    },
    "koreasouth": {
      "region": "koreasouth"
    },
    "polandcentral": {
      "region": "polandcentral"
    },
    "qatarcentral": {
      "region": "qatarcentral"
    },
    "eastusstg": {
      "region": "eastusstg"
    },
    "centraluseuap": {
      "region": "centraluseuap"
    },
    "eastus2euap": {
      "region": "eastus2euap"
    },
    "southcentralusstg": {
      "region": "southcentralusstg"
    }
  },
  "app_tag": "multisqlite-bacalhau-example",
  "instance_type": "Standard_DS1_v2",
  "bacalhau_run_file": "bacalhau.run",
  "tailscale_key": "tskey-auth-khEJM72CNTRL-p4BaAjCQVyhHhWfs4cQEXAMPLE",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa",
  "username": "daaronch",
  "clientId": "1df9426b-9ef5-4646-b4f0-a214EXAMPLE",
  "clientSecret": "h6~8Q~gcBWMn7-vl_NCbqmUi1.JLQ_NEXAMPLE",
  "subscriptionId": "72ac7288-fb92-4ad6-83bc-5cfEXAMPLE",
  "tenantId": "21e3e5c7-6fb3-47f8-bc36-f645EXAMPLE"
}