{
  "bootstrap_region": "northcentralus",
  "locations": {
    "northcentralus": {
      "region": "northcentralus"
    },
    "eastus": {
      "region": "eastus"
    },
    "eastus2": {
      "region": "eastus2"
    },
    "southcentralus": {
      "region": "southcentralus"
    },
    "westus2": {
      "region": "westus2"
    },
    "westus3": {
      "region": "westus3"
    },
    "australiaeast": {
      "region": "australiaeast"
    },
    "southeastasia": {
      "region": "southeastasia"
    },
    "northeurope": {
      "region": "northeurope"
    },
    "swedencentral": {
      "region": "swedencentral"
    },
    "uksouth": {
      "region": "uksouth"
    },
    "westeurope": {
      "region": "westeurope"
    },
    "centralus": {
      "region": "centralus"
    },
    "southafricanorth": {
      "region": "southafricanorth"
    },
    "centralindia": {
      "region": "centralindia"
    },
    "eastasia": {
      "region": "eastasia"
    },
    "japaneast": {
      "region": "japaneast"
    },
    "koreacentral": {
      "region": "koreacentral"
    },
    "canadacentral": {
      "region": "canadacentral"
    },
    "francecentral": {
      "region": "francecentral"
    },
    "germanywestcentral": {
      "region": "germanywestcentral"
    },
    "norwayeast": {
      "region": "norwayeast"
    },
    "switzerlandnorth": {
      "region": "switzerlandnorth"
    },
    "uaenorth": {
      "region": "uaenorth"
    },
    "brazilsouth": {
      "region": "brazilsouth"
    },
    "centraluseuap": {
      "region": "centraluseuap"
    },
    "eastus2euap": {
      "region": "eastus2euap"
    },
    "qatarcentral": {
      "region": "qatarcentral"
    },
    "centralusstage": {
      "region": "centralusstage"
    },
    "eastusstage": {
      "region": "eastusstage"
    },
    "eastus2stage": {
      "region": "eastus2stage"
    },
    "northcentralusstage": {
      "region": "northcentralusstage"
    },
    "southcentralusstage": {
      "region": "southcentralusstage"
    },
    "westusstage": {
      "region": "westusstage"
    },
    "westus2stage": {
      "region": "westus2stage"
    },
    "asia": {
      "region": "asia"
    },
    "asiapacific": {
      "region": "asiapacific"
    },
    "australia": {
      "region": "australia"
    },
    "brazil": {
      "region": "brazil"
    },
    "canada": {
      "region": "canada"
    },
    "europe": {
      "region": "europe"
    },
    "france": {
      "region": "france"
    },
    "germany": {
      "region": "germany"
    },
    "global": {
      "region": "global"
    },
    "india": {
      "region": "india"
    },
    "japan": {
      "region": "japan"
    },
    "korea": {
      "region": "korea"
    },
    "norway": {
      "region": "norway"
    },
    "singapore": {
      "region": "singapore"
    },
    "southafricawest": {
      "region": "southafricawest"
    },
    "australiacentral": {
      "region": "australiacentral"
    },
    "australiacentral2": {
      "region": "australiacentral2"
    },
    "australiasoutheast": {
      "region": "australiasoutheast"
    },
    "japanwest": {
      "region": "japanwest"
    },
    "jioindiacentral": {
      "region": "jioindiacentral"
    },
    "koreasouth": {
      "region": "koreasouth"
    },
    "southindia": {
      "region": "southindia"
    },
    "westindia": {
      "region": "westindia"
    },
    "canadaeast": {
      "region": "canadaeast"
    },
    "francesouth": {
      "region": "francesouth"
    },
    "germanynorth": {
      "region": "germanynorth"
    },
    "norwaywest": {
      "region": "norwaywest"
    },
    "switzerlandwest": {
      "region": "switzerlandwest"
    },
    "ukwest": {
      "region": "ukwest"
    },
    "uaecentral": {
      "region": "uaecentral"
    },
    "brazilsoutheast": {
      "region": "brazilsoutheast"
    }
  },
  "app_tag": "multisqlite-bacalhau-example",
  "instance_type": "Standard_DS1_v2",
  "bacalhau_run_file": "bacalhau.run",
  "tailscale_key": "tskey-auth-khEJM72CNTRL-p4BaAjCQVyhHhWfs4cQEXAMPLE",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa",
  "username": "daaronch",
  "clientId": "1df9426b-9ef5-4646-b4f0-a214EXAMPLE",
  "clientSecret": "h6~8Q~gcBWMn7-vl_NCbqmUi1.JLQ_NEXAMPLE",
  "subscriptionId": "72ac7288-fb92-4ad6-83bc-5cfEXAMPLE",
  "tenantId": "21e3e5c7-6fb3-47f8-bc36-f645EXAMPLE"
}