rich>=13.7.0
click>=8.1.7
aiohttp>=3.9.0
python-dotenv>=1.0.0
requests>=2.32.3
pyaml>=25.1.0
azure-identity==1.16.1
azure-mgmt-compute==30.3.0
azure-mgmt-network==25.1.0
azure-mgmt-resource==23.0.0
azure-mgmt-subscription==3.1.0
azure-core==1.29.5
