{
  "access_key": "AKIAUEMPQ7JFEXAMPLE",
  "secret_key": "a3YhVb06muc4+YSnlzqLzJJ2sOrxl/EXAMPLE",
"bootstrap_region": "ca-central-1",
   "locations": {
    "ca-central-1": {
        "region": "ca-central-1", "zone": "ca-central-1a", "instance_ami": "ami-0c483e1cc1d6e27f8"
    }
  },
  "app_tag": "multi-cloud-image-search",
  "instance_type": "g4dn.2xlarge",
  "bacalhau_run_file": "bacalhau.run",
  "tailscale_key": "tskey-auth-kBEwtV4CNTRL-F6UvB8r9qg7xU5LHWEXAMPLE",
  "shelluser": "bacalhau-installer",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa"
}
