{
  "access_key": "AKIAUEMPQ7JFEXAMPLE",
  "secret_key": "a3YhVb06muc4+YSnlzqLzJJ2sOrxl/EXAMPLE",
  "bootstrap_region": "ca-central-1", # Bootstrap region must be firts (also, delete this line in the final, json doesn't support comments)
  "locations": {
    "ca-central-1": {
      "region": "ca-central-1",
      "availability_zone": "ca-central-1a",
      "instance_ami": "ami-0ea18256de20ecdfc"
    },
    "us-west-2": {
      "region": "us-west-2",
      "availability_zone": "us-west-2a",
      "instance_ami": "ami-0fcf52bcf5db7b003"
    },
  },
  "app_tag": "multi-cloud-bacalhau-example",
  "instance_type": "g4dn.xlarge",
  "bacalhau_run_file": "bacalhau.run",
  "tailscale_key": "tskey-auth-kBEwtV4CNTRL-F6UvB8r9qg7xU5LHWEXAMPLE",
  "shelluser": "bacalhau-installer",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa"
}
