{
  "project_id": "your-project-id",
  "app_name": "duckdb-logs",
  "app_tag": "dev",
  "machine_type": "e2-medium",
  "username": "ubuntu",
  "public_key": "$HOME/.ssh/id_rsa.pub",
  "private_key": "$HOME/.ssh/id_rsa",
  "orchestrator_config_path": "./orchestrator-config.yaml",
  "locations": {
    "us-east1-b": {
      "region": "us-east1",
      "storage_location": "US"
    },
    "us-east1-c": {
      "region": "us-east1",
      "storage_location": "US"
    },
    "us-east1-d": {
      "region": "us-east1",
      "storage_location": "US"
    },
    "us-east4-c": {
      "region": "us-east4",
      "storage_location": "US"
    },
    "us-east4-b": {
      "region": "us-east4",
      "storage_location": "US"
    },
    "us-east4-a": {
      "region": "us-east4",
      "storage_location": "US"
    },
    "us-central1-c": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-central1-a": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-central1-f": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-central1-b": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-west1-b": {
      "region": "us-west1",
      "storage_location": "US"
    },
    "us-west1-c": {
      "region": "us-west1",
      "storage_location": "US"
    },
    "us-west1-a": {
      "region": "us-west1",
      "storage_location": "US"
    },
    "europe-west4-a": {
      "region": "europe-west4",
      "storage_location": "EUROPE"
    },
    "europe-west4-b": {
      "region": "europe-west4",
      "storage_location": "EUROPE"
    },
    "europe-west4-c": {
      "region": "europe-west4",
      "storage_location": "EUROPE"
    },
    "europe-west1-b": {
      "region": "europe-west1",
      "storage_location": "EUROPE"
    },
    "europe-west1-d": {
      "region": "europe-west1",
      "storage_location": "EUROPE"
    },
    "europe-west1-c": {
      "region": "europe-west1",
      "storage_location": "EUROPE"
    },
    "europe-west3-c": {
      "region": "europe-west3",
      "storage_location": "EUROPE"
    },
    "europe-west3-a": {
      "region": "europe-west3",
      "storage_location": "EUROPE"
    },
    "europe-west3-b": {
      "region": "europe-west2",
      "storage_location": "EUROPE"
    },
    "europe-west2-b": {
      "region": "europe-west2",
      "storage_location": "EUROPE"
    },
    "europe-west2-a": {
      "region": "europe-west2",
      "storage_location": "EUROPE"
    },
    "asia-east1-b": {
      "region": "asia-east1",
      "storage_location": "ASIA"
    },
    "asia-east1-a": {
      "region": "asia-east1",
      "storage_location": "ASIA"
    },
    "asia-east1-c": {
      "region": "asia-east1",
      "storage_location": "ASIA"
    },
    "asia-southeast1-b": {
      "region": "asia-southeast1",
      "storage_location": "ASIA"
    },
    "asia-southeast1-a": {
      "region": "asia-southeast1",
      "storage_location": "ASIA"
    },
    "asia-southeast1-c": {
      "region": "asia-southeast1",
      "storage_location": "ASIA"
    },
    "asia-northeast1-b": {
      "region": "asia-northeast1",
      "storage_location": "ASIA"
    },
    "asia-south1-a": {
      "region": "asia-south1",
      "storage_location": "ASIA"
    },
    "australia-southeast1-b": {
      "region": "australia-southeast1",
      "storage_location": "ASIA"
    },
    "australia-southeast1-c": {
      "region": "australia-southeast1",
      "storage_location": "ASIA"
    },
    "australia-southeast1-a": {
      "region": "australia-southeast1",
      "storage_location": "ASIA"
    },
    "southamerica-east1-b": {
      "region": "southamerica-east1",
      "storage_location": "US"
    },
    "africa-south1-c": {
      "region": "africa-south1",
      "storage_location": "EU"
    },
    "asia-east2-a": {
      "region": "asia-east2",
      "storage_location": "ASIA"
    },
    "asia-east2-b": {
      "region": "asia-east2",
      "storage_location": "ASIA"
    },
    "asia-east2-c": {
      "region": "asia-east2",
      "storage_location": "ASIA"
    },
    "asia-northeast2-a": {
      "region": "asia-northeast2",
      "storage_location": "ASIA"
    },
    "asia-northeast2-b": {
      "region": "asia-northeast2",
      "storage_location": "ASIA"
    },
    "asia-northeast2-c": {
      "region": "asia-northeast2",
      "storage_location": "ASIA"
    },
    "asia-northeast3-a": {
      "region": "asia-northeast3",
      "storage_location": "ASIA"
    },
    "asia-northeast3-b": {
      "region": "asia-northeast3",
      "storage_location": "ASIA"
    },
    "asia-northeast3-c": {
      "region": "asia-northeast3",
      "storage_location": "ASIA"
    },
    "asia-south2-a": {
      "region": "asia-south2",
      "storage_location": "ASIA"
    },
    "australia-southeast2-a": {
      "region": "australia-southeast2",
      "storage_location": "ASIA"
    },
    "australia-southeast2-b": {
      "region": "australia-southeast2",
      "storage_location": "ASIA"
    },
    "australia-southeast2-c": {
      "region": "australia-southeast2",
      "storage_location": "ASIA"
    },
    "europe-central2-a": {
      "region": "europe-central2",
      "storage_location": "EUROPE"
    },
    "europe-north1-c": {
      "region": "europe-north1",
      "storage_location": "EUROPE"
    },
    "europe-southwest1-a": {
      "region": "europe-southwest1",
      "storage_location": "EUROPE"
    },
    "europe-west12-a": {
      "region": "europe-west12",
      "storage_location": "EUROPE"
    },
    "europe-west12-b": {
      "region": "europe-west12",
      "storage_location": "EUROPE"
    },
    "europe-west12-c": {
      "region": "europe-west12",
      "storage_location": "EUROPE"
    },
    "europe-west6-a": {
      "region": "europe-west6",
      "storage_location": "EUROPE"
    },
    "europe-west8-c": {
      "region": "europe-west8",
      "storage_location": "EUROPE"
    },
    "europe-west9-a": {
      "region": "europe-west9",
      "storage_location": "EUROPE"
    },
    "me-west1-a": {
      "region": "me-west1",
      "storage_location": "EUROPE"
    },
    "me-west1-c": {
      "region": "me-west1",
      "storage_location": "EUROPE"
    },
    "northamerica-northeast1-a": {
      "region": "northamerica-northeast1",
      "storage_location": "NORTHAMERICA"
    },
    "northamerica-south1-a": {
      "region": "northamerica-south1",
      "storage_location": "NORTHAMERICA"
    },
    "northamerica-south1-b": {
      "region": "northamerica-south1",
      "storage_location": "NORTHAMERICA"
    },
    "northamerica-south1-c": {
      "region": "northamerica-south1",
      "storage_location": "NORTHAMERICA"
    },
    "southamerica-west1-a": {
      "region": "southamerica-west1",
      "storage_location": "US"
    },
    "southamerica-west1-b": {
      "region": "southamerica-west1",
      "storage_location": "US"
    },
    "southamerica-west1-c": {
      "region": "southamerica-west1",
      "storage_location": "US"
    },
    "us-east5-a": {
      "region": "us-east5",
      "storage_location": "US"
    },
    "us-east5-c": {
      "region": "us-east5",
      "storage_location": "US"
    },
    "us-south1-a": {
      "region": "us-south1",
      "storage_location": "US"
    },
    "us-west3-b": {
      "region": "us-west3",
      "storage_location": "US"
    },
    "us-west3-c": {
      "region": "us-west3",
      "storage_location": "US"
    },
    "us-west4-a": {
      "region": "us-west4",
      "storage_location": "US"
    },
    "us-west4-b": {
      "region": "us-west4",
      "storage_location": "US"
    },
    "us-west4-c": {
      "region": "us-west4",
      "storage_location": "US"
    }
  }
}