{
  "project_id": "example-project-id",
  "bootstrap_zone": "europe-west9-b",
  "locations": {
    "us-east1-b": {
      "region": "us-east1",
      "storage_location": "US"
    },
    "us-east1-c": {
      "region": "us-east1",
      "storage_location": "US"
    },
    "us-east1-d": {
      "region": "us-east1",
      "storage_location": "US"
    },
    "us-east4-c": {
      "region": "us-east4",
      "storage_location": "US"
    },
    "us-east4-b": {
      "region": "us-east4",
      "storage_location": "US"
    },
    "us-east4-a": {
      "region": "us-east4",
      "storage_location": "US"
    },
    "us-central1-c": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-central1-a": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-central1-f": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-central1-b": {
      "region": "us-central1",
      "storage_location": "US"
    },
    "us-west1-b": {
      "region": "us-west1",
      "storage_location": "US"
    },
    "us-west1-c": {
      "region": "us-west1",
      "storage_location": "US"
    },
    "us-west1-a": {
      "region": "us-west1",
      "storage_location": "US"
    },
    "europe-west4-a": {
      "region": "europe-west4",
      "storage_location": "EU"
    },
    "europe-west4-b": {
      "region": "europe-west4",
      "storage_location": "EU"
    },
    "europe-west4-c": {
      "region": "europe-west4",
      "storage_location": "EU"
    },
    "europe-west1-b": {
      "region": "europe-west1",
      "storage_location": "EU"
    },
    "europe-west1-d": {
      "region": "europe-west1",
      "storage_location": "EU"
    },
    "europe-west1-c": {
      "region": "europe-west1",
      "storage_location": "EU"
    },
    "europe-west3-c": {
      "region": "europe-west3",
      "storage_location": "EU"
    },
    "europe-west3-a": {
      "region": "europe-west3",
      "storage_location": "EU"
    },
    "europe-west3-b": {
      "region": "europe-west3",
      "storage_location": "EU"
    },
    "europe-west2-c": {
      "region": "europe-west2",
      "storage_location": "EU"
    },
    "europe-west2-b": {
      "region": "europe-west2",
      "storage_location": "EU"
    },
    "europe-west2-a": {
      "region": "europe-west2",
      "storage_location": "EU"
    },
    "asia-east1-b": {
      "region": "asia-east1",
      "storage_location": "ASIA"
    },
    "asia-east1-a": {
      "region": "asia-east1",
      "storage_location": "ASIA"
    },
    "asia-east1-c": {
      "region": "asia-east1",
      "storage_location": "ASIA"
    },
    "asia-southeast1-b": {
      "region": "asia-southeast1",
      "storage_location": "ASIA"
    },
    "asia-southeast1-a": {
      "region": "asia-southeast1",
      "storage_location": "ASIA"
    },
    "asia-southeast1-c": {
      "region": "asia-southeast1",
      "storage_location": "ASIA"
    },
    "asia-northeast1-b": {
      "region": "asia-northeast1",
      "storage_location": "ASIA"
    },
    "asia-northeast1-c": {
      "region": "asia-northeast1",
      "storage_location": "ASIA"
    },
    "asia-northeast1-a": {
      "region": "asia-northeast1",
      "storage_location": "ASIA"
    },
    "asia-south1-c": {
      "region": "asia-south1",
      "storage_location": "ASIA"
    },
    "asia-south1-b": {
      "region": "asia-south1",
      "storage_location": "ASIA"
    },
    "asia-south1-a": {
      "region": "asia-south1",
      "storage_location": "ASIA"
    },
    "australia-southeast1-b": {
      "region": "australia-southeast1",
      "storage_location": "ASIA"
    },
    "australia-southeast1-c": {
      "region": "australia-southeast1",
      "storage_location": "ASIA"
    },
    "australia-southeast1-a": {
      "region": "australia-southeast1",
      "storage_location": "ASIA"
    },
    "southamerica-east1-b": {
      "region": "southamerica-east1",
      "storage_location": "US"
    },
    "southamerica-east1-c": {
      "region": "southamerica-east1",
      "storage_location": "US"
    },
    "southamerica-east1-a": {
      "region": "southamerica-east1",
      "storage_location": "US"
    },
    "asia-east2-a": {
      "region": "asia-east2",
      "storage_location": "ASIA"
    },
    "asia-east2-b": {
      "region": "asia-east2",
      "storage_location": "ASIA"
    },
    "asia-east2-c": {
      "region": "asia-east2",
      "storage_location": "ASIA"
    },
    "asia-northeast2-a": {
      "region": "asia-northeast2",
      "storage_location": "ASIA"
    },
    "asia-northeast2-b": {
      "region": "asia-northeast2",
      "storage_location": "ASIA"
    },
    "asia-northeast2-c": {
      "region": "asia-northeast2",
      "storage_location": "ASIA"
    },
    "asia-northeast3-a": {
      "region": "asia-northeast3",
      "storage_location": "ASIA"
    },
    "asia-northeast3-b": {
      "region": "asia-northeast3",
      "storage_location": "ASIA"
    },
    "asia-northeast3-c": {
      "region": "asia-northeast3",
      "storage_location": "ASIA"
    },
    "asia-south2-a": {
      "region": "asia-south2",
      "storage_location": "ASIA"
    },
    "asia-south2-b": {
      "region": "asia-south2",
      "storage_location": "ASIA"
    },
    "asia-south2-c": {
      "region": "asia-south2",
      "storage_location": "ASIA"
    },
    "asia-southeast2-a": {
      "region": "asia-southeast2",
      "storage_location": "ASIA"
    },
    "asia-southeast2-b": {
      "region": "asia-southeast2",
      "storage_location": "ASIA"
    },
    "asia-southeast2-c": {
      "region": "asia-southeast2",
      "storage_location": "ASIA"
    },
    "australia-southeast2-a": {
      "region": "australia-southeast2",
      "storage_location": "ASIA"
    },
    "australia-southeast2-b": {
      "region": "australia-southeast2",
      "storage_location": "ASIA"
    },
    "australia-southeast2-c": {
      "region": "australia-southeast2",
      "storage_location": "ASIA"
    },
    "europe-central2-a": {
      "region": "europe-central2",
      "storage_location": "EU"
    },
    "europe-central2-b": {
      "region": "europe-central2",
      "storage_location": "EU"
    },
    "europe-central2-c": {
      "region": "europe-central2",
      "storage_location": "EU"
    },
    "europe-north1-a": {
      "region": "europe-north1",
      "storage_location": "EU"
    },
    "europe-north1-b": {
      "region": "europe-north1",
      "storage_location": "EU"
    },
    "europe-north1-c": {
      "region": "europe-north1",
      "storage_location": "EU"
    },
    "europe-southwest1-a": {
      "region": "europe-southwest1",
      "storage_location": "EU"
    },
    "europe-southwest1-b": {
      "region": "europe-southwest1",
      "storage_location": "EU"
    },
    "europe-southwest1-c": {
      "region": "europe-southwest1",
      "storage_location": "EU"
    },
    "europe-west12-a": {
      "region": "europe-west12",
      "storage_location": "EU"
    },
    "europe-west12-b": {
      "region": "europe-west12",
      "storage_location": "EU"
    },
    "europe-west12-c": {
      "region": "europe-west12",
      "storage_location": "EU"
    },
    "europe-west6-a": {
      "region": "europe-west6",
      "storage_location": "EU"
    },
    "europe-west6-b": {
      "region": "europe-west6",
      "storage_location": "EU"
    },
    "europe-west6-c": {
      "region": "europe-west6",
      "storage_location": "EU"
    },
    "europe-west8-a": {
      "region": "europe-west8",
      "storage_location": "EU"
    },
    "europe-west8-b": {
      "region": "europe-west8",
      "storage_location": "EU"
    },
    "europe-west8-c": {
      "region": "europe-west8",
      "storage_location": "EU"
    },
    "europe-west9-a": {
      "region": "europe-west9",
      "storage_location": "EU"
    },
    "europe-west9-b": {
      "region": "europe-west9",
      "storage_location": "EU"
    },
    "europe-west9-c": {
      "region": "europe-west9",
      "storage_location": "EU"
    },
    "me-central1-a": {
      "region": "me-central1",
      "storage_location": "EU"
    },
    "me-central1-b": {
      "region": "me-central1",
      "storage_location": "EU"
    },
    "me-central1-c": {
      "region": "me-central1",
      "storage_location": "EU"
    },
    "me-west1-a": {
      "region": "me-west1",
      "storage_location": "EU"
    },
    "me-west1-b": {
      "region": "me-west1",
      "storage_location": "EU"
    },
    "me-west1-c": {
      "region": "me-west1",
      "storage_location": "EU"
    },
    "southamerica-west1-a": {
      "region": "southamerica-west1",
      "storage_location": "US"
    },
    "southamerica-west1-b": {
      "region": "southamerica-west1",
      "storage_location": "US"
    },
    "southamerica-west1-c": {
      "region": "southamerica-west1",
      "storage_location": "US"
    },
    "us-east5-a": {
      "region": "us-east5",
      "storage_location": "US"
    },
    "us-east5-b": {
      "region": "us-east5",
      "storage_location": "US"
    },
    "us-east5-c": {
      "region": "us-east5",
      "storage_location": "US"
    },
    "us-south1-a": {
      "region": "us-south1",
      "storage_location": "US"
    },
    "us-south1-b": {
      "region": "us-south1",
      "storage_location": "US"
    },
    "us-south1-c": {
      "region": "us-south1",
      "storage_location": "US"
    },
    "us-west2-a": {
      "region": "us-west2",
      "storage_location": "US"
    },
    "us-west2-b": {
      "region": "us-west2",
      "storage_location": "US"
    },
    "us-west2-c": {
      "region": "us-west2",
      "storage_location": "US"
    },
    "us-west3-a": {
      "region": "us-west3",
      "storage_location": "US"
    },
    "us-west3-b": {
      "region": "us-west3",
      "storage_location": "US"
    },
    "us-west3-c": {
      "region": "us-west3",
      "storage_location": "US"
    },
    "us-west4-a": {
      "region": "us-west4",
      "storage_location": "US"
    },
    "us-west4-b": {
      "region": "us-west4",
      "storage_location": "US"
    },
    "us-west4-c": {
      "region": "us-west4",
      "storage_location": "US"
    }
  },
  "motherduck_key": "EXAMPLEzI1NiIsInR5cCI6IkpXVCJ9.eyJzZXNzaW9uIjoiYXJvbmNoaWNrLmV4cGFuc28uaW8iLCJlbWFpbCI6ImFyb25jaGlja0BleHBhbnNvLmlvIiwiaWF0IjoxNjg2NDMyMjQxLCJleHAiOjE3MTc5ODk4NDF9.OxK3nPWdimg3DWM54A5Pgq0ZlKo0ZjozjwicFL4oafc",
  "tailscale_key": "tskey-auth-kFGiAS7CNTRL-2dpMswsLF8UdDydPRMiWDUEXAMPLE",
  "app_name": "duckdb-example",
  "bacalhau_run_file": "bacalhau.run",
  "username": "username",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa",
  "app_tag": "example-app-tag"
}
