{
  "access_key": "AKIAUEMPQ7JFEXAMPLE",
  "secret_key": "a3YhVb06muc4+YSnlzqLzJJ2sOrxl/EXAMPLE",
  "bootstrap_region": "ca-central-1",
  "locations": {
    "ca-central-1": {
      "region": "ca-central-1",
      "availability_zone": "ca-central-1a",
      "instance_ami": "ami-05b7ce93ce9fc8e32"
    },
    "eu-north-1": {
      "region": "eu-north-1",
      "availability_zone": "eu-north-1a",
      "instance_ami": "ami-057ca637f0e971f76"
    },
    "us-east-1": {
      "region": "us-east-1",
      "availability_zone": "us-east-1a",
      "instance_ami": "ami-09ad94ebabb1d9472"
    },
    "us-west-1": {
      "region": "us-west-1",
      "availability_zone": "us-west-1a",
      "instance_ami": "ami-0c3a8f7521f75b65b"
    }
  },
  "app_tag": "multiregion-bacalhau-example",
  "instance_type": "t4g.large",
  "bacalhau_run_file": "bacalhau.run",
  "tailscale_key": "tskey-auth-kBEwtV4CNTRL-F6UvB8r9qg7xU5LHWEXAMPLE",
  "shelluser": "bacalhau-installer",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa"
}