{
  "access_key": "AKIAUEMPQ7JFEXAMPLE",
  "secret_key": "a3YhVb06muc4+YSnlzqLzJJ2sOrxl/EXAMPLE",
  "bootstrap_region": "ca-central-1", # Bootstrap region must be firts (also, delete this line in the final, json doesn't support comments)
  "locations": {
    "ca-central-1": {
        "region": "ca-central-1", "zone": "ca-central-1a", "instance_ami": "ami-0c483e1cc1d6e27f8"
    },
    "eu-north-1": { "region": "eu-north-1", "zone": "eu-north-1a", "instance_ami": "ami-033855fe5b2db3d01"
    },
    "us-east-1": { "region": "us-east-1", "zone": "us-east-1a", "instance_ami": "ami-0240b7264c1c9e6a9"
    },
    "us-west-1": { "region": "us-west-1", "zone": "us-west-1a", "instance_ami": "ami-0eaef2301ab069ace"
    }
  },
  "app_tag": "multiregion-bacalhau-example",
  "instance_type": "g4dn.2xlarge",
  "bacalhau_run_file": "bacalhau.run",
  "tailscale_key": "tskey-auth-kBEwtV4CNTRL-F6UvB8r9qg7xU5LHWEXAMPLE",
  "shelluser": "bacalhau-installer",
  "public_key": "~/.ssh/id_rsa.pub",
  "private_key": "~/.ssh/id_rsa"
}
