jupyter-book>=0.13.0 # sphinx-design instead of sphinx-panel
jupytext
matplotlib
numpy
xarray
eurec4a>=0.0.4
intake[dataframe] # since intake 0.6.1 to_dask() doesn't work anymore without the [dataframe] specification due to a missing msgpack dependency
intake-xarray
fsspec!=0.9.0 # 0.9.0 has a bug which leads to incomplete reads via HTTP
ipfsspec>=0.1.4
requests
aiohttp
pydap
ipyleaflet
simplification
colorcet
zarr>=2.8.3
datashader
pybtex-apa-style
