#!/bin/bash
set -o allexport
TF_VAR_access_key=AKIAUEMPQ7JEXAMPLE
TF_VAR_secret_key=0HoAEsSqTX7MwLUIL5+9+3+cBrQqSCEXAMPLE
TF_VAR_region=ca-central-1 # Green region
TF_VAR_availability_zone=ca-central-1a
TF_VAR_app_tag='stablediffusiongallery'         # Tag for searching in AWS
TF_VAR_instance_type=t2.large                   # Image size - t2.micro/small should be fine
TF_VAR_instance_ami=ami-0a7154091c5c6623e       # Must be available in your region
TF_VAR_public_key_path=~/.ssh/id_rsa.pub
TF_VAR_instance_count=1                         # Only tested with one instance
SQLITE_KEY=${SQLITE_KEY_GENERATED}     # Auto generated

IMAGES_DIR='/Users/USER/bacalhau-examples/stablediffusiongallery/images' # For local testing